@page "/Admin/Role/Edit/{roleId}"
@model razor07.Admin.Role.EditModel
@{
    ViewData["Title"] = "Edit Role";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RoleName" class="control-label"></label>
                <input asp-for="Input.RoleName" class="form-control" />
                <span asp-validation-for="Input.RoleName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <hr>
        <p>Role's Claims: 
            <a asp-page="./AddClaims" asp-route-roleId="@Model.role.Id">+ Add Claim</a>
        </p>
        @if (Model.Claims.Count >0)
        {
            <ul>
                @foreach (var claim in Model.Claims)
                {
                    <li>
                        <strong>@claim.ClaimType</strong>: @claim.ClaimValue
                        <a asp-page="./EditClaim" asp-route-claimId="@claim.Id">Edit</a>
            
                    </li>
                    
                }
            </ul>
        }
    </div>
</div>