@page "/Admin/User/AsignRole/{id}"
@model AssignRoleModel
@{
    ViewData["Title"] = "Assign Role";

}

<h3>Assign Role for @Model.user.UserName</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <label asp-for="RoleNames" class="form-label"></label>
                @Html.ListBoxFor(m => m.RoleNames, @Model.allRoles, new {
                    id = "id-select-roles",
                    @class = "form-control-md",
                    @style = "width: 200px"
                })        
                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn-sm btn-primary">Set</button>
            <a class="btn btn-success mt-2" asp-page="./Index">User's Role Manage</a>
        </form>
        <hr>
        <p>
            <strong>Role Claims:</strong>
        </p>
        @if (Model.roleClaims.Count >0)
        {
            <ul>
                @foreach (var claim in Model.roleClaims)
                {
                    <li>@claim.ClaimType: @claim.ClaimValue</li>
                }
            </ul>
        }
        <p>
            <strong>User Claims:</strong>
            <a class="text-dark" asp-page="./UserClaim" asp-page-handler="Create" asp-route-userId="@Model.user.Id">+ Add User Claim</a>
        </p>
        @if (Model.roleClaims.Count >0)
        {
            <ul>
                @foreach (var claim in Model.userClaims)
                {
                    <li>
                        <a asp-page="./UserClaim" asp-page-handler="Edit" asp-route-claimId="@claim.Id">@claim.ClaimType: @claim.ClaimValue</a>              
                    </li>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />
    <script>
        $("#id-select-roles").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false,
            displayTitle: true
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
